body {
    background-color: #a34ea9;
    font-family: Helvetica, Arial, sans-serif;
    padding: 60px;
}

body.theme-green {
    background-color: #75a94e;
}

.theme-green .container {
    background-color: #e4ffea;
}

.theme-green h1 a {
    color: #38bc61 !important;
}

.theme-green hr {
    background-color: #bee0c8;
}

body.theme-blue {
    background-color: #4e62a9;
}

.theme-blue .container {
    background-color: #e4e6ff;
}

.theme-blue h1 a {
    color: #3854bc !important;
}

.theme-blue hr {
    background-color: #bec8e0;
}

.container {
    padding: 30px;
    border-radius: 10px;
    background-color: #ffe4ef;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h1 a {
    font-size: 52px;
    font-weight: bold;
    color: #bc3838 !important;
    text-decoration: none !important;
}

hr {
    border: 0;
    height: 2px;
    margin: 15px 0;
    background-color: #e0bebe;
}

p, h2, h3, ul {
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: bold;
}

h2 { font-size: 32px; }
h3 { font-size: 22px; }

small {
    font-size: 12px;
}

.error {
    border: solid 3px red;
    background-color: pink;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

tt {
    font-family: monospace;
}

strong {
    font-weight: bold;
}

.sidebyside {
    width: 50%;
    box-sizing: border-box;
    float: left;
}

.sidebyside.left {
    padding-right: 10px;
}

.sidebyside.right {
    padding-left: 10px;
}

.boxform {
    background-color: rgba(255, 255, 255, 0.5);
    border: solid 1px #ddd;
    padding: 10px;
    padding-bottom: 0;
}
