body {
    background-color: #a34ea9;
    font-family: Helvetica, Arial, sans-serif;
    padding: 60px;
}

.container {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffe4ef;
    max-width: 1200px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

h1 a {
    font-size: 52px;
    font-weight: bold;
    color: #bc3838 !important;
    text-decoration: none !important;
}

hr {
    border: 0;
    height: 2px;
    margin: 15px 0;
    background-color: #e0bebe;
}

p, h2, h3, ul {
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: bold;
}

h2 { font-size: 32px; }
h3 { font-size: 26px; }

small {
    font-size: 12px;
}

.error {
    border: solid 3px red;
    background-color: pink;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 10px;
}

tt {
    font-family: monospace;
}

strong {
    font-weight: bold;
}
